[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-mock = "*"
pytest-django = "*"
pytest = "*"
tox = "*"
factory-boy = "*"
xenon = "*"
"flake8" = "*"
twine = "*"
"bump2version" = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
